<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,142},{113,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,41}}</string>
                <key>sourceSize</key>
                <string>{113,41}</string>
            </dict>
            <key>FinalWave.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{246,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{246,67}}</string>
                <key>sourceSize</key>
                <string>{252,71}</string>
            </dict>
            <key>FlagMeterEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,25},{157,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,21}}</string>
                <key>sourceSize</key>
                <string>{157,21}</string>
            </dict>
            <key>FlagMeterFull.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{157,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,21}}</string>
                <key>sourceSize</key>
                <string>{157,21}</string>
            </dict>
            <key>FlagMeterLevelProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,248},{86,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,11}}</string>
                <key>sourceSize</key>
                <string>{86,11}</string>
            </dict>
            <key>FlagMeterParts1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,87},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>FlagMeterParts2.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,184},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>GralicCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,306},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>GrowSoil.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,149},{61,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,28}}</string>
                <key>sourceSize</key>
                <string>{61,28}</string>
            </dict>
            <key>LargeWave.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{286,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,34}}</string>
                <key>sourceSize</key>
                <string>{286,34}</string>
            </dict>
            <key>LawnMower.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,385},{71,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,57}}</string>
                <key>sourceSize</key>
                <string>{71,57}</string>
            </dict>
            <key>LoadBar_dirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{321,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,53}}</string>
                <key>sourceSize</key>
                <string>{321,53}</string>
            </dict>
            <key>LoadBar_grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{314,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,33}}</string>
                <key>sourceSize</key>
                <string>{314,33}</string>
            </dict>
            <key>PeaBullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,30},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>PeaBulletHit.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,368},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>PeashooterCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,416},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>PotatoMineCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,416},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>PrepareGrowPlants_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{227,80}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{227,80}}</string>
                <key>sourceSize</key>
                <string>{255,108}</string>
            </dict>
            <key>PrepareGrowPlants_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,48},{153,56}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,36},{153,56}}</string>
                <key>sourceSize</key>
                <string>{255,108}</string>
            </dict>
            <key>PrepareGrowPlants_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{239,104}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{239,104}}</string>
                <key>sourceSize</key>
                <string>{255,108}</string>
            </dict>
            <key>PumpkinHeadCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,416},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>Shovel.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,261},{76,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,34}}</string>
                <key>sourceSize</key>
                <string>{76,34}</string>
            </dict>
            <key>ShovelBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,444},{71,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,35}}</string>
                <key>sourceSize</key>
                <string>{71,35}</string>
            </dict>
            <key>ShroomBulletHit.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,290},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>ShroomBullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,148},{56,22}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,22}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>ShroomBullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,179},{58,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{58,30}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>ShroomBullet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,211},{64,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{64,30}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>ShroomBullet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,264},{54,24}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,24}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>ShroomBullet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,204},{44,24}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,24}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>SnowBullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>SnowFlakes1.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,164},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>SnowFlakes2.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,142},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>SnowFlakes3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,126},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>SodRoll.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,306},{68,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,141}}</string>
                <key>sourceSize</key>
                <string>{68,141}</string>
            </dict>
            <key>SodRollCap.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,297},{73,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>SputteringFire.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,112},{61,35}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{61,35}}</string>
                <key>sourceSize</key>
                <string>{63,45}</string>
            </dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,92},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>SunBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,106},{123,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,34}}</string>
                <key>sourceSize</key>
                <string>{123,34}</string>
            </dict>
            <key>TwinSunflowerCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,416},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>WallNutCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>brain.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,56},{30,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>crater.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,243},{90,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,61}}</string>
                <key>sourceSize</key>
                <string>{90,61}</string>
            </dict>
            <key>crater_fading.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,185},{90,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,61}}</string>
                <key>sourceSize</key>
                <string>{90,61}</string>
            </dict>
            <key>fireBullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,204},{54,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,30}}</string>
                <key>sourceSize</key>
                <string>{56,34}</string>
            </dict>
            <key>fireBullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,172},{54,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,30}}</string>
                <key>sourceSize</key>
                <string>{56,34}</string>
            </dict>
            <key>icetrap.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,236},{54,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{54,26}}</string>
                <key>sourceSize</key>
                <string>{54,30}</string>
            </dict>
            <key>plantshadow32.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,338},{64,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{64,28}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameLayer.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d71f88fb059fbcce484cafc121a6d1c5$</string>
            <key>textureFileName</key>
            <string>GameLayer.png</string>
        </dict>
    </dict>
</plist>
