<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,226},{66,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{66,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{78,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{78,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,78},{76,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,154},{74,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,80},{72,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,80},{70,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{70,72}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,80},{70,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{70,72}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,154},{66,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{66,68}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,158},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{68,68}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,224},{66,66}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{66,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,228},{66,64}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{66,64}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,158},{66,66}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{66,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,154},{70,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{70,70}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{72,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,72}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{74,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,78},{76,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,74}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,78},{78,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{78,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Sun_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{78,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sun.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3769f55a192804cdb11247e196e7aa52$</string>
            <key>textureFileName</key>
            <string>Sun.png</string>
        </dict>
    </dict>
</plist>
