<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CherryBomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,374},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>CherryBombG.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,312},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>Chomper.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,250},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>ChomperG.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,250},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>Garlic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>GarlicG.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>GatlingPea.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,250},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>GatlingPeaG.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,188},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>Jalapeno.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,188},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>JalapenoG.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,188},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>Peashooter.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,436},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>PeashooterG.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,374},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>PotatoMine.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,312},{100,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,58}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>PotatoMineG.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,312},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>PumpkinHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,250},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>PumpkinHeadG.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,188},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>Repeater.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,126},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>RepeaterG.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,126},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>SnowPea.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>SnowPeaG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>Spikerock.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,431},{100,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>SpikerockG.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,430},{100,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>Spikeweed.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,373},{100,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>SpikeweedG.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,372},{100,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>SplitPea.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,126},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>SplitPeaG.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,126},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>Squash.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>SquashG.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>SunFlower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>SunFlowerG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>TallNut.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>TallNutG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>Threepeater.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>ThreepeaterG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>Torchwood.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,64},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>TorchwoodG.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,64},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>TwinSunflower.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,64},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>TwinSunflowerG.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,64},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>WallNut.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,312},{100,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,59}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
            <key>WallNutG.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,436},{100,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,59}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DayCards.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dceb0a73c28a4205dccdd8fc00faf37a$</string>
            <key>textureFileName</key>
            <string>DayCards.png</string>
        </dict>
    </dict>
</plist>
