<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BombDie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,308},{70,112}}</string>
                <key>offset</key>
                <string>{21,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,29},{70,112}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BombDie_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{78,114}}</string>
                <key>offset</key>
                <string>{24,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,29},{78,114}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BombDie_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{78,114}}</string>
                <key>offset</key>
                <string>{25,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,29},{78,114}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BombDie_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{78,114}}</string>
                <key>offset</key>
                <string>{25,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,29},{78,114}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BombDie_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{80,114}}</string>
                <key>offset</key>
                <string>{25,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,29},{80,114}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BombDie_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{80,114}}</string>
                <key>offset</key>
                <string>{25,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,29},{80,114}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BombDie_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{80,114}}</string>
                <key>offset</key>
                <string>{25,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,29},{80,114}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BombDie_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,114}}</string>
                <key>offset</key>
                <string>{25,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,29},{80,114}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BombDie_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{78,88}}</string>
                <key>offset</key>
                <string>{26,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,55},{78,88}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BombDie_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,146},{78,46}}</string>
                <key>offset</key>
                <string>{26,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,97},{78,46}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BombDie_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,92},{78,52}}</string>
                <key>offset</key>
                <string>{26,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,91},{78,52}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BombDie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,194},{70,112}}</string>
                <key>offset</key>
                <string>{21,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,29},{70,112}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BombDie_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,116},{78,48}}</string>
                <key>offset</key>
                <string>{26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,95},{78,48}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BombDie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,166},{70,112}}</string>
                <key>offset</key>
                <string>{21,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,29},{70,112}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BombDie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,308},{70,112}}</string>
                <key>offset</key>
                <string>{21,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,29},{70,112}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BombDie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,118},{70,112}}</string>
                <key>offset</key>
                <string>{21,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,29},{70,112}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BombDie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,308},{70,112}}</string>
                <key>offset</key>
                <string>{21,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,29},{70,112}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BombDie_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,118},{76,112}}</string>
                <key>offset</key>
                <string>{24,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,30},{76,112}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BombDie_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,118},{76,112}}</string>
                <key>offset</key>
                <string>{24,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,30},{76,112}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BombDie_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{78,112}}</string>
                <key>offset</key>
                <string>{24,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,30},{78,112}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BombDie.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0cb4f0c21d8c4d25d05735eab14e683$</string>
            <key>textureFileName</key>
            <string>BombDie.png</string>
        </dict>
    </dict>
</plist>
