<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BucketheadZombieAttack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{88,136}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,8},{88,136}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombieAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,138},{88,132}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,11},{88,132}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombieAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{88,134}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,9},{88,134}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombieAttack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,274},{82,136}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,8},{82,136}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombieAttack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{80,134}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,9},{80,134}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombieAttack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{82,132}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,11},{82,132}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombieAttack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,140},{84,132}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,11},{84,132}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombieAttack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{88,134}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{88,134}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombieAttack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,138},{86,136}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,8},{86,136}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombieAttack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,140},{82,136}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,8},{82,136}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombieAttack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{84,136}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,7},{84,136}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,414},{68,140}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,4},{68,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombie_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,136}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,7},{92,136}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombie_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{88,136}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,7},{88,136}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombie_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,412},{78,136}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{78,136}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombie_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,550},{70,138}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,5},{70,138}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombie_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,558},{64,138}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,5},{64,138}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombie_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,556},{64,140}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,3},{64,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,276},{74,138}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,6},{74,138}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,278},{80,134}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,10},{80,134}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{78,134}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,10},{78,134}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,276},{72,140}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,4},{72,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,416},{66,140}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,4},{66,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombie_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{68,142}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,1},{68,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombie_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,414},{70,142}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,1},{70,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>BucketheadZombie_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,272},{80,140}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,3},{80,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BucketheadZombie.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03a21007b98e01edd9f3acf4ff726e14$</string>
            <key>textureFileName</key>
            <string>BucketheadZombie.png</string>
        </dict>
    </dict>
</plist>
