<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ConeheadZombieAttack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{88,140}}</string>
                <key>offset</key>
                <string>{39,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,4},{88,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombieAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{82,144}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{82,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombieAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{84,142}}</string>
                <key>offset</key>
                <string>{41,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,2},{84,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombieAttack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{88,142}}</string>
                <key>offset</key>
                <string>{39,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,2},{88,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombieAttack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,142}}</string>
                <key>offset</key>
                <string>{39,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,2},{88,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombieAttack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,146},{82,144}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{82,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombieAttack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,290},{78,144}}</string>
                <key>offset</key>
                <string>{44,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{78,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombieAttack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,434},{78,142}}</string>
                <key>offset</key>
                <string>{44,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,2},{78,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombieAttack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,146},{82,140}}</string>
                <key>offset</key>
                <string>{42,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,4},{82,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombieAttack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,142}}</string>
                <key>offset</key>
                <string>{39,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,2},{88,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombieAttack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,144},{86,144}}</string>
                <key>offset</key>
                <string>{40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{86,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,434},{76,140}}</string>
                <key>offset</key>
                <string>{35,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,3},{76,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{88,140}}</string>
                <key>offset</key>
                <string>{39,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,3},{88,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,144},{86,142}}</string>
                <key>offset</key>
                <string>{39,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,2},{86,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,292},{80,142}}</string>
                <key>offset</key>
                <string>{38,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,2},{80,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,436},{76,142}}</string>
                <key>offset</key>
                <string>{36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,2},{76,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,436},{72,142}}</string>
                <key>offset</key>
                <string>{36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,2},{72,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,862},{70,142}}</string>
                <key>offset</key>
                <string>{36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,2},{70,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{68,144}}</string>
                <key>offset</key>
                <string>{35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{68,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,862},{66,144}}</string>
                <key>offset</key>
                <string>{35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,0},{66,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,288},{64,144}}</string>
                <key>offset</key>
                <string>{35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,0},{64,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,862},{70,142}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,1},{70,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,578},{74,140}}</string>
                <key>offset</key>
                <string>{35,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,3},{74,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{72,140}}</string>
                <key>offset</key>
                <string>{35,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,3},{72,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,576},{76,138}}</string>
                <key>offset</key>
                <string>{35,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,5},{76,138}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{72,140}}</string>
                <key>offset</key>
                <string>{35,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,3},{72,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{66,140}}</string>
                <key>offset</key>
                <string>{32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,3},{66,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,862},{68,142}}</string>
                <key>offset</key>
                <string>{33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,1},{68,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,716},{72,144}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{72,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,432},{76,144}}</string>
                <key>offset</key>
                <string>{37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{76,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,288},{80,144}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{80,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>ConeheadZombie_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,288},{84,142}}</string>
                <key>offset</key>
                <string>{39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,1},{84,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ConeheadZombie.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b6c1e7e9e14ecc5e262d7439da9d235$</string>
            <key>textureFileName</key>
            <string>ConeheadZombie.png</string>
        </dict>
    </dict>
</plist>
