<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FlagZombieAttack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,580},{100,142}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,1},{100,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,724},{98,142}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,1},{98,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{96,144}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieAttack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,876},{104,142}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,1},{104,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieAttack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,144}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{102,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieAttack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{98,144}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{98,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieAttack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,586},{96,144}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieAttack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{96,144}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieAttack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,436},{100,142}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,1},{100,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieAttack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,432},{104,140}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,3},{104,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieAttack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,436},{102,142}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,1},{102,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,574},{102,140}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,3},{102,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,146},{96,142}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,1},{96,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,146},{98,142}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,1},{98,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,292},{102,142}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,1},{102,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,724},{100,142}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,1},{100,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{98,144}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{98,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{96,144}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{98,144}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{98,144}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,142}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,1},{102,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,432},{100,140}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,3},{100,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHeadAttack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,580},{100,142}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,1},{100,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,732},{108,142}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{108,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHead_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,146},{92,142}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{92,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHead_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{96,142}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{96,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHead_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,876},{104,142}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{104,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{110,140}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,2},{110,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,144},{106,140}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,2},{106,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,292},{100,142}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,1},{100,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{98,142}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{98,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,722},{94,142}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,716},{94,140}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,1},{94,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHead_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,144},{96,140}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,1},{96,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombieLostHead_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,290},{96,142}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{96,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{110,138}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,3},{110,138}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,434},{96,142}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{96,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,148},{104,142}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{104,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,290},{108,140}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,1},{108,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{106,140}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,2},{106,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,286},{100,140}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,2},{100,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,868},{98,142}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{98,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,578},{96,142}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{96,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{94,140}}</string>
                <key>offset</key>
                <string>{22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,1},{94,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,858},{94,140}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,1},{94,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{96,140}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,1},{96,140}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
            <key>FlagZombie_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,866},{94,142}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{166,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FlagZombie.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d34d665dd07f2dcbe5e8e4c171a270f2$</string>
            <key>textureFileName</key>
            <string>FlagZombie.png</string>
        </dict>
    </dict>
</plist>
