<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,160}}</string>
                <key>sourceSize</key>
                <string>{213,160}</string>
            </dict>
            <key>CherryBomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,395},{90,69}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{90,69}}</string>
                <key>sourceSize</key>
                <string>{112,81}</string>
            </dict>
            <key>CherryBomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{94,69}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{94,69}}</string>
                <key>sourceSize</key>
                <string>{112,81}</string>
            </dict>
            <key>CherryBomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{98,71}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{98,71}}</string>
                <key>sourceSize</key>
                <string>{112,81}</string>
            </dict>
            <key>CherryBomb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{102,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{102,73}}</string>
                <key>sourceSize</key>
                <string>{112,81}</string>
            </dict>
            <key>CherryBomb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,245},{106,77}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{106,77}}</string>
                <key>sourceSize</key>
                <string>{112,81}</string>
            </dict>
            <key>CherryBomb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,164},{110,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,79}}</string>
                <key>sourceSize</key>
                <string>{112,81}</string>
            </dict>
            <key>CherryBomb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{112,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,81}}</string>
                <key>sourceSize</key>
                <string>{112,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CherryBomb.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c087d27aeab3096732f362d5daf87d34$</string>
            <key>textureFileName</key>
            <string>CherryBomb.png</string>
        </dict>
    </dict>
</plist>
