<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChomperAttack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,374},{80,90}}</string>
                <key>offset</key>
                <string>{-23,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{80,90}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperAttack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,374},{78,82}}</string>
                <key>offset</key>
                <string>{-25,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{78,82}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperAttack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,270},{76,78}}</string>
                <key>offset</key>
                <string>{-26,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,33},{76,78}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperAttack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,352},{74,76}}</string>
                <key>offset</key>
                <string>{-27,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,35},{74,76}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperAttack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,350},{76,76}}</string>
                <key>offset</key>
                <string>{-27,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{76,76}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperAttack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{92,112}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,112}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperAttack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,80}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,33},{128,80}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperAttack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{118,86}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{118,86}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperAttack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,184},{92,84}}</string>
                <key>offset</key>
                <string>{-17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,29},{92,84}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperDigest_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,184},{76,84}}</string>
                <key>offset</key>
                <string>{-22,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{76,84}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperDigest_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,270},{76,80}}</string>
                <key>offset</key>
                <string>{-22,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{76,80}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperDigest_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,430},{74,80}}</string>
                <key>offset</key>
                <string>{-24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{74,80}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperDigest_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,278},{74,82}}</string>
                <key>offset</key>
                <string>{-24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,29},{74,82}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperDigest_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,430},{74,80}}</string>
                <key>offset</key>
                <string>{-24,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{74,80}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>ChomperDigest_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,96},{76,84}}</string>
                <key>offset</key>
                <string>{-22,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{76,84}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,188},{98,92}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{98,92}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,182},{86,94}}</string>
                <key>offset</key>
                <string>{-22,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{86,94}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{92,98}}</string>
                <key>offset</key>
                <string>{-19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{92,98}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{94,96}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{94,96}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{98,92}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{98,92}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,282},{98,88}}</string>
                <key>offset</key>
                <string>{-15,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{98,88}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,96},{100,84}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,29},{100,84}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,96},{98,86}}</string>
                <key>offset</key>
                <string>{-15,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{98,86}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{98,92}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{98,92}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,90},{94,96}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{94,96}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{92,98}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{92,98}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,372},{88,96}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{88,96}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>Chomper_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,278},{82,94}}</string>
                <key>offset</key>
                <string>{-24,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{82,94}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Chomper.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb5fe6221071eeee5331427818ec731a$</string>
            <key>textureFileName</key>
            <string>Chomper.png</string>
        </dict>
    </dict>
</plist>
