<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DoomShroom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,229},{79,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>DoomShroom_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{83,71}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{83,71}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>DoomShroom_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,79},{83,73}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{83,73}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>DoomShroom_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>DoomShroom_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,243},{79,79}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,79}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>DoomShroom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{79,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>DoomShroom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,160},{79,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>DoomShroom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{79,79}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,79}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>DoomShroom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,81},{81,77}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{81,77}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>DoomShroom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{81,77}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{81,77}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>DoomShroom_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{83,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>DoomShroom_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{83,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>DoomShroom_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,154},{83,73}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{83,73}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DoomShroom.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ac21492000dfd94c76cb096b04a7100$</string>
            <key>textureFileName</key>
            <string>DoomShroom.png</string>
        </dict>
    </dict>
</plist>
