<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FumeShroomAttack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,74}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{92,74}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroomSleep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,246},{78,86}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{78,86}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroomSleep_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{86,76}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{86,76}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroomSleep_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,244},{82,78}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroomSleep_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,244},{82,78}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroomSleep_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,80},{82,80}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroomSleep_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,330},{80,82}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{80,82}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroomSleep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{78,88}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroomSleep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,158},{78,86}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{78,86}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroomSleep_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{78,86}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{78,86}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroomSleep_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{80,84}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{80,84}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroomSleep_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,414},{80,82}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{80,82}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroomSleep_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,80},{82,80}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroomSleep_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,80},{82,80}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroomSleep_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{84,76}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{84,76}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,80},{84,76}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{84,76}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroom_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,158},{80,84}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{80,84}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroom_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,162},{80,82}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{80,82}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroom_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,414},{82,80}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroom_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,414},{82,80}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroom_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{84,78}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroom_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{84,76}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{84,76}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroom_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{84,76}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{84,76}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,162},{82,80}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,162},{82,80}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,330},{80,82}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{80,82}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,246},{80,82}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{80,82}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,244},{80,84}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{80,84}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroom_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,422},{78,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{78,86}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroom_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{78,88}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>FumeShroom_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,334},{78,86}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{78,86}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FumeShroom.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fafb477e65b5de597483bd92d4585aa2$</string>
            <key>textureFileName</key>
            <string>FumeShroom.png</string>
        </dict>
    </dict>
</plist>
