<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Garlic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{60,53}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,53}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>Garlic_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{56,57}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{56,57}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>Garlic_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,57},{56,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,55}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>Garlic_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,57},{58,53}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{58,53}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>Garlic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{60,53}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,53}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>Garlic_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,53}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,53}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>Garlic_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,110},{58,53}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{58,53}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>Garlic_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{58,55}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{58,55}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>Garlic_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,112},{56,55}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{56,55}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>Garlic_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,114},{54,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{54,57}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>Garlic_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,165},{54,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>Garlic_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{54,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{54,57}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>Garlic_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>Garlic_body3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,57},{60,51}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Garlic.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:610e94d98dc79699e2d7c76e39a950c9$</string>
            <key>textureFileName</key>
            <string>Garlic.png</string>
        </dict>
    </dict>
</plist>
