<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GatlingPea_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,248},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{74,80}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>GatlingPea_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>GatlingPea_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,80}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{76,80}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>GatlingPea_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,84},{76,78}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{76,78}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>GatlingPea_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{76,80}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>GatlingPea_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,244},{74,82}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>GatlingPea_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,164},{74,82}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>GatlingPea_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,328},{74,78}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{74,78}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>GatlingPea_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,84},{76,74}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{76,74}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>GatlingPea_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{76,76}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{76,76}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>GatlingPea_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{74,80}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{74,80}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>GatlingPea_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{74,82}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>GatlingPea_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,160},{74,82}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GatlingPea.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36cdd90d8732d68acdedf86d6522af96$</string>
            <key>textureFileName</key>
            <string>GatlingPea.png</string>
        </dict>
    </dict>
</plist>
