<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CoffeeBeanEat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,116},{37,51}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,51}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBeanEat_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,237},{37,49}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{37,49}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBeanEat_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,67},{35,47}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{35,47}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBeanEat_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,169},{35,45}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{35,45}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBeanEat_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{35,63}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{35,63}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBeanEat_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{35,63}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{35,63}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBeanEat_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,162},{27,75}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{27,75}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBeanEat_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,77},{25,73}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{25,73}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBeanEat_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,87},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBeanEat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,242},{37,49}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,49}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBeanEat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,371},{37,49}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{37,49}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBeanEat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,242},{37,47}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{37,47}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBeanEat_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,242},{37,47}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{37,47}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBeanEat_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,320},{37,49}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBeanEat_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,371},{37,49}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBeanEat_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,97}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBeanEat_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,320},{37,49}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{37,49}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBean_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,116},{37,51}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,51}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBean_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,242},{37,49}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,49}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBean_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,371},{37,49}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{37,49}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBean_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,242},{37,47}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{37,47}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBean_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,242},{37,47}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{37,47}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBean_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,320},{37,49}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>CoffeeBean_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,371},{37,49}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>GloomShroomAttack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{95,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{95,81}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroomAttack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,186},{93,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,81}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroomSleep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{87,83}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,83}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroomSleep_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{85,83}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{85,83}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroomSleep_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,2},{85,83}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{85,83}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroomSleep_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{85,79}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{85,79}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroomSleep_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,87},{87,79}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{87,79}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroomSleep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,435},{85,75}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{85,75}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroomSleep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,164},{85,77}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{85,77}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroomSleep_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,352},{85,81}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{85,81}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroomSleep_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,352},{85,81}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{85,81}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroomSleep_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,269},{85,81}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{85,81}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroomSleep_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,352},{83,81}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{83,81}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroomSleep_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,269},{83,81}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{83,81}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroomSleep_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{85,83}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{85,83}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{85,73}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{85,73}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroom_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,169},{85,71}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{85,71}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroom_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,439},{87,71}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{87,71}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroom_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{87,71}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{87,71}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,79},{85,73}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{85,73}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,243},{85,75}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{85,75}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,83},{85,77}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{85,77}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{83,79}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{83,79}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,83},{83,79}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{83,79}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroom_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{85,75}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{85,75}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroom_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,435},{85,75}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{85,75}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>GloomShroom_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,162},{85,73}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{85,73}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GloomAndCoffee.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7525157e14942826119ee3f813360f6b$</string>
            <key>textureFileName</key>
            <string>GloomAndCoffee.png</string>
        </dict>
    </dict>
</plist>
