<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IceShroom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,154},{82,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,72}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>IceShroom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,78},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>IceShroom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>IceShroom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>IceShroom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>IceShroom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>IceShroom_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>IceShroom_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,152},{82,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,72}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>IceShroom_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,78},{82,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,72}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>IceShroom.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaf74ad853ca9eda546a392656451fc0$</string>
            <key>textureFileName</key>
            <string>IceShroom.png</string>
        </dict>
    </dict>
</plist>
