<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JalapenoAttack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,182},{755,53}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{755,53}}</string>
                <key>sourceSize</key>
                <string>{755,131}</string>
            </dict>
            <key>JalapenoAttack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,123},{755,57}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{755,57}}</string>
                <key>sourceSize</key>
                <string>{755,131}</string>
            </dict>
            <key>JalapenoAttack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{755,57}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{755,57}}</string>
                <key>sourceSize</key>
                <string>{755,131}</string>
            </dict>
            <key>JalapenoAttack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{755,81}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{755,81}}</string>
                <key>sourceSize</key>
                <string>{755,131}</string>
            </dict>
            <key>JalapenoAttack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{755,107}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{755,107}}</string>
                <key>sourceSize</key>
                <string>{755,131}</string>
            </dict>
            <key>JalapenoAttack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,2},{705,119}}</string>
                <key>offset</key>
                <string>{25,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{705,119}}</string>
                <key>sourceSize</key>
                <string>{755,131}</string>
            </dict>
            <key>JalapenoAttack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{495,93}}</string>
                <key>offset</key>
                <string>{130,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,2},{495,93}}</string>
                <key>sourceSize</key>
                <string>{755,131}</string>
            </dict>
            <key>JalapenoAttack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,97},{219,53}}</string>
                <key>offset</key>
                <string>{263,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{531,1},{219,53}}</string>
                <key>sourceSize</key>
                <string>{755,131}</string>
            </dict>
            <key>Jalapeno_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,97},{52,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{52,81}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>Jalapeno_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,97},{56,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{56,83}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>Jalapeno_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,97},{58,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{58,83}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>Jalapeno_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,97},{58,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{58,85}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>Jalapeno_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,152},{62,87}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,87}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>Jalapeno_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,152},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,87}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>Jalapeno_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,152},{66,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,87}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>Jalapeno_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,2},{68,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,89}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Jalapeno.png</string>
            <key>size</key>
            <string>{2048,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32be18bf8b354ba8987c154bd3a484f2$</string>
            <key>textureFileName</key>
            <string>Jalapeno.png</string>
        </dict>
    </dict>
</plist>
