<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ExplosionSpudow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{180,54}}</string>
                <key>sourceSize</key>
                <string>{186,58}</string>
            </dict>
            <key>PotatoMineNotReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{37,31}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{37,31}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>PotatoMine_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{75,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,53}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>PotatoMine_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,170},{75,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,51}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>PotatoMine_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,115},{75,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,53}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>PotatoMine_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,58},{75,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,55}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>PotatoMine_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,170},{75,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,51}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>PotatoMine_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,170},{75,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,51}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>PotatoMine_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,115},{75,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,53}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>PotatoMine_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,58},{75,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,55}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>PotatoMine_mashed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{132,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,93}}</string>
                <key>sourceSize</key>
                <string>{132,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PotatoMine.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3314a1402ef5f86404b49e388f11d681$</string>
            <key>textureFileName</key>
            <string>PotatoMine.png</string>
        </dict>
    </dict>
</plist>
