<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PumpkinHead1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,53}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{93,53}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,167},{89,53}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{89,53}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,161},{91,51}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{91,51}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{95,49}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{95,49}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,104},{95,49}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{95,49}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,53},{97,49}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{97,49}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{97,49}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{97,49}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,157},{95,49}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{95,49}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,108},{93,51}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{93,51}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,55},{93,51}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{93,51}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{93,51}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{93,51}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,104},{91,51}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{91,51}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{91,53}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{91,53}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,112},{89,53}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{89,53}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,57},{89,53}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{89,53}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{89,53}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{89,53}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,231},{67,15}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{67,15}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,70},{63,15}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{63,15}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,214},{65,15}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{65,15}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,214},{67,15}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{67,15}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,239},{67,15}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{67,15}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,222},{67,15}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{67,15}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,239},{67,15}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{67,15}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,222},{67,15}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{67,15}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,53},{65,15}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{65,15}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,225},{65,15}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{65,15}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,208},{65,15}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{65,15}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,231},{65,15}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{65,15}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,87},{63,15}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{63,15}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,222},{61,17}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{61,17}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{63,17}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{63,17}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>PumpkinHead2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{63,17}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{63,17}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>Pumpkin_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,167},{79,53}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{79,53}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>Pumpkin_damage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{93,53}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{93,53}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
            <key>pumpkin_damage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{93,53}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{93,53}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pumpkin.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce073d04617f2cd21f5cd8a9318615da$</string>
            <key>textureFileName</key>
            <string>Pumpkin.png</string>
        </dict>
    </dict>
</plist>
