<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Repeater_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,71},{67,67}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{67,67}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>Repeater_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,284},{65,63}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{65,63}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>Repeater_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,213},{65,69}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,69}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>Repeater_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,140},{65,71}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>Repeater_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{65,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>Repeater_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,75},{65,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{65,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>Repeater_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>Repeater_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{67,67}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{67,67}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>Repeater_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{67,65}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{67,65}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>Repeater_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{65,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{65,69}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>Repeater_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{65,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{65,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>Repeater_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,148},{65,71}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>Repeater_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{67,71}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>Repeater_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,221},{65,69}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,69}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>Repeater_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,292},{65,63}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{65,63}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Repeater.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e1451f244e6a82d3a92b36c97229134$</string>
            <key>textureFileName</key>
            <string>Repeater.png</string>
        </dict>
    </dict>
</plist>
