<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PuffShroomSleep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,210},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroomSleep_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,270},{36,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{36,62}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroomSleep_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,68},{36,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,64}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroomSleep_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,135},{36,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,64}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroomSleep_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{38,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,64}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroomSleep_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{38,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{38,64}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroomSleep_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,69},{38,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{38,64}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroomSleep_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,139},{38,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroomSleep_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,142},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroomSleep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,345},{36,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,64}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroomSleep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{36,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,64}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroomSleep_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,138},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroomSleep_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,207},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroomSleep_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,300},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroomSleep_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,393},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroomSleep_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,71},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroomSleep_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,201},{36,60}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{36,60}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,277},{36,34}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{36,34}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroom_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{36,36}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroom_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,253},{36,34}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{36,34}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroom_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,240},{36,34}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{36,34}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroom_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,312},{36,32}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{36,32}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroom_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,289},{36,32}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{36,32}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,276},{36,34}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{36,34}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,239},{36,36}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,201},{36,36}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,215},{36,36}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,313},{34,38}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{34,38}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroom_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,323},{34,38}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{34,38}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroom_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,177},{36,36}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>PuffShroom_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,177},{36,36}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>ScaredyShroomCry_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,201},{51,37}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{51,37}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomCry_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,68},{51,39}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{51,39}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomCry_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,84},{51,37}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{51,37}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomCry_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,162},{51,37}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{51,37}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomCry_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,123},{51,37}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{51,37}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomCry_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,43},{51,39}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{51,39}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomCry_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{51,39}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{51,39}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomCry_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,134},{49,41}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,40},{49,41}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomCry_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,461},{49,41}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,40},{49,41}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomCry_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,462},{49,41}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,40},{49,41}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomCry_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,462},{49,41}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,40},{49,41}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomSleep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,326},{53,79}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{53,79}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomSleep_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,407},{51,79}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{51,79}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomSleep_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,407},{51,79}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{51,79}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomSleep_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,83},{55,79}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,79}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomSleep_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{57,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,79}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomSleep_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{55,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,81}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomSleep_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{55,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,81}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomSleep_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,81}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomSleep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,164},{55,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{55,79}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomSleep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{57,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,79}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomSleep_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{55,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,81}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomSleep_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{55,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,81}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomSleep_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{55,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,81}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomSleep_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,83},{53,75}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{53,75}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomSleep_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,245},{53,77}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{53,77}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroomSleep_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,245},{53,79}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,79}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,160},{49,69}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{49,69}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroom_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{51,65}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{51,65}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroom_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,71},{51,65}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{51,65}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroom_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,324},{51,67}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{51,67}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroom_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{51,67}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{51,67}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroom_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,73},{51,67}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{51,67}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroom_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{49,69}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{49,69}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroom_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{49,69}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{49,69}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroom_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{49,69}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{49,69}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,160},{49,69}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{49,69}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,231},{49,67}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{49,67}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,324},{49,67}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{49,67}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,393},{49,67}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{49,67}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,393},{49,67}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{49,67}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroom_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,278},{51,65}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{51,65}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroom_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,435},{51,65}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{51,65}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>ScaredyShroom_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,368},{51,65}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{51,65}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ScaredyAndPuff.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:902c954fdf3cbb479d2d49db2d7217b7$</string>
            <key>textureFileName</key>
            <string>ScaredyAndPuff.png</string>
        </dict>
    </dict>
</plist>
