<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SnowPea_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{63,69}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{63,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>SnowPea_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{63,69}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{63,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>SnowPea_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,148},{63,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>SnowPea_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,71}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>SnowPea_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{63,71}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>SnowPea_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,144},{63,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{63,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>SnowPea_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,75},{63,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{63,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>SnowPea_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,75},{65,67}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{65,67}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>SnowPea_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{65,69}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{65,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>SnowPea_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{65,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>SnowPea_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{65,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>SnowPea_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,217},{63,71}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>SnowPea_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,217},{63,71}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>SnowPea_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,221},{63,69}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{63,69}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>SnowPea_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,290},{63,65}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{63,65}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SnowPea.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8806820731a5a99bbbd210210c3c13ed$</string>
            <key>textureFileName</key>
            <string>SnowPea.png</string>
        </dict>
    </dict>
</plist>
