<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HypnoShroom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,244},{56,76}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>HypnoShroom_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{56,76}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>HypnoShroom_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{56,76}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>HypnoShroom_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,170},{58,72}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{58,72}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>HypnoShroom_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,168},{58,72}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{58,72}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>HypnoShroom_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,92},{58,74}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{58,74}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>HypnoShroom_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{58,74}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{58,74}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>HypnoShroom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,242},{56,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>HypnoShroom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,92},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>HypnoShroom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,316},{56,72}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,72}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>HypnoShroom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,320},{56,70}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{56,70}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>HypnoShroom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{56,68}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,68}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>HypnoShroom_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,322},{56,68}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,68}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>HypnoShroom_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,242},{56,72}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,72}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>HypnoShroom_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{56,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{56,74}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>Spikerock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{82,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>Spikerock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,47},{82,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>Spikerock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{80,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>Spikerock_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,47},{82,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>Spikerock_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{82,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>Spikerock_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>Spikerock_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>Spikerock_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{82,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SpikerockAndHypno.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae44aece5d10d76773949c29134e68f8$</string>
            <key>textureFileName</key>
            <string>SpikerockAndHypno.png</string>
        </dict>
    </dict>
</plist>
