<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Spikeweed_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{83,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,33}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>Spikeweed_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,146},{79,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,35}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>Spikeweed_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,146},{79,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,35}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>Spikeweed_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,142},{79,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,35}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>Spikeweed_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{79,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,35}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>Spikeweed_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,109},{79,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{79,35}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>Spikeweed_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{81,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{81,33}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>Spikeweed_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,74},{81,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{81,33}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>Spikeweed_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,72},{81,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{81,33}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>Spikeweed_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,39},{81,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{81,33}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>Spikeweed_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,33}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>Spikeweed_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{83,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,33}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>Spikeweed_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,37},{83,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,33}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>Spikeweed_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,37},{83,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,33}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>Spikeweed_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{83,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,33}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>Spikeweed_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{83,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,33}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>Spikeweed_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,107},{81,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{81,33}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>Spikeweed_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{81,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,35}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
            <key>Spikeweed_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{81,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,35}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Spikeweed.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:974d37df1eaa7b7246ee16fb1a93cee9$</string>
            <key>textureFileName</key>
            <string>Spikeweed.png</string>
        </dict>
    </dict>
</plist>
