<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SunFlower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,300},{63,72}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{63,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,154},{63,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{63,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{63,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{63,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{63,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{63,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,152},{63,72}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{63,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{63,72}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{63,64}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{63,64}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,302},{63,68}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{63,68}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{65,72}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,72}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{65,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{63,72}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{63,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,78},{63,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{63,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,76},{63,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{63,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,228},{63,72}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{63,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,372},{63,68}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{63,68}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,374},{63,64}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{63,64}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,226},{63,72}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{63,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>SunFlower_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{63,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{63,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SunFlower.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be7827741ea9b06690ae03fb7161d2ad$</string>
            <key>textureFileName</key>
            <string>SunFlower.png</string>
        </dict>
    </dict>
</plist>
