<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TallNut_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,601},{81,117}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{81,117}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallNut_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,244},{81,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallNut_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{81,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallNut_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,123},{81,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallNut_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,123},{81,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallNut_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,123},{81,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallNut_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,484},{81,117}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{81,117}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallNut_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,484},{81,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,117}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallNut_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,244},{81,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallNut_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,244},{81,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallNut_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,244},{81,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallNut_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,484},{81,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,117}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallNut_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,484},{81,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,117}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallNut_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{81,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,117}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,123},{81,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,482},{81,117}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{81,117}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,365},{81,117}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{81,117}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{81,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,123},{81,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{81,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{81,117}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{81,117}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{81,117}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{81,117}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{81,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{81,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{81,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{81,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,119}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,603},{81,115}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{81,115}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,363},{81,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,117}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,244},{81,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,117}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{81,115}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{81,115}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,603},{81,115}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{81,115}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,365},{81,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,117}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,365},{81,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,117}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,365},{81,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,117}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,837},{81,115}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{81,115}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,603},{81,115}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{81,115}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,720},{81,115}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{81,115}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
            <key>TallnutCracked2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{81,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,117}}</string>
                <key>sourceSize</key>
                <string>{83,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TallNut.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4920272049b415d754faa47dcb895cbc$</string>
            <key>textureFileName</key>
            <string>TallNut.png</string>
        </dict>
    </dict>
</plist>
