<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Threepeater_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{69,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,80}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Threepeater_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,164},{67,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{67,78}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Threepeater_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,246},{65,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{65,78}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Threepeater_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,404},{65,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{65,76}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Threepeater_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,84},{67,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{67,80}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Threepeater_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{69,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,80}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Threepeater_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{73,78}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Threepeater_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{71,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,80}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Threepeater_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,244},{67,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{67,78}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Threepeater_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{65,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{65,78}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Threepeater_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{65,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{65,78}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Threepeater_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,324},{65,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{65,78}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Threepeater_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{65,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Threepeater_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,84},{69,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,78}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Threepeater_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,166},{67,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{67,78}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Threepeater_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{67,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,80}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Threepeater.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26406e564743ea50a5185db4d93a382c$</string>
            <key>textureFileName</key>
            <string>Threepeater.png</string>
        </dict>
    </dict>
</plist>
