<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Torchwood_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,180},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>Torchwood_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,180},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>Torchwood_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>Torchwood_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,91},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>Torchwood_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,91},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>Torchwood_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>Torchwood_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>Torchwood_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>Torchwood_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Torchwood.png</string>
            <key>size</key>
            <string>{227,269}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c30c10297cfa2cafb2b3375a043731ca$</string>
            <key>textureFileName</key>
            <string>Torchwood.png</string>
        </dict>
    </dict>
</plist>
