<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TwinSunflower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{77,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{77,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>TwinSunflower_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,346},{69,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{69,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>TwinSunflower_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,346},{71,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{71,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>TwinSunflower_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,88},{73,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{73,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>TwinSunflower_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,174},{75,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{75,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>TwinSunflower_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{77,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{77,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>TwinSunflower_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{79,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>TwinSunflower_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,256},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,82}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>TwinSunflower_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,172},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>TwinSunflower_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>TwinSunflower_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,88},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>TwinSunflower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{77,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{77,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>TwinSunflower_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>TwinSunflower_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{75,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{75,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>TwinSunflower_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,260},{73,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{73,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>TwinSunflower_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,260},{69,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{69,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>TwinSunflower_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,346},{67,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{67,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>TwinSunflower_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,170},{63,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{63,82}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>TwinSunflower_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{65,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{65,82}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>TwinSunflower_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,86},{65,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{65,82}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TwinSunflower.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d105c6e802cd2c8a6346a433c43205b$</string>
            <key>textureFileName</key>
            <string>TwinSunflower.png</string>
        </dict>
    </dict>
</plist>
