<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WallNut_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,221},{61,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,294},{61,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,221},{61,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,144},{61,69}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{61,69}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,73},{61,69}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{61,69}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{61,69}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{61,69}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,148},{61,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,73}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,148},{61,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,75},{61,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{61,69}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{61,69}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,215},{61,69}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{61,69}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{61,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,367},{61,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{61,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{61,73}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>WallNut_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{61,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,73}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,75},{61,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,294},{61,69}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{61,69}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,440},{61,69}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{61,69}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{61,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,373},{61,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,436},{61,69}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{61,69}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,365},{61,69}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{61,69}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{63,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{63,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,300},{61,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{61,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{61,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{61,71}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,272},{61,65}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{61,65}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,138},{61,65}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{61,65}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,71},{61,65}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{61,65}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,71},{61,65}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{61,65}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{61,67}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{61,67}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,142},{61,67}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{61,67}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,73},{61,67}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{61,67}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,205},{61,65}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{61,65}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,207},{61,65}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{61,65}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,205},{61,65}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{61,65}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,138},{61,65}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{61,65}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,71},{61,67}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{61,67}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{61,67}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{61,67}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{61,67}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{61,67}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Wallnut_cracked2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,140},{61,65}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{61,65}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WallNut.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a63eaeaba60e2a46df8510aebe97430$</string>
            <key>textureFileName</key>
            <string>WallNut.png</string>
        </dict>
    </dict>
</plist>
